<h1>Latest posts:</h1>
<% @posts.each do |post| %>
  <p>
    <%= post['content'] %>
    <br>
    <br>
    <a href="/post/<%= post['id'] %>">Comments (<%= comments_count(post['id']) %>)</a>&nbsp;|&nbsp;<span style="font-size: 75%; color: #999;">added at: <%= post['created_date'] %>, author: <%= post['author'] %></span>
  </p>
  <hr>
<% end %>
